<?php

/*
|--------------------------------------------------------------------------
| Web Routes
|--------------------------------------------------------------------------
|
| This file is where you may define all of the routes that are handled
| by your application. Just tell Laravel the URIs it should respond
| to using a Closure or controller method. Build something great!
|
*/

Route::get('/', function () {
    return view('welcome');
});

//Mater
Route::get('/master/home', function(){ return view('/usuarios/master/home');});
Route::get('/administrador/cadastrar', function(){ return view('/usuarios/administradores/cadastrar_administrador');});

//Administradores
Route::get('/administrador/home', function(){ return view('/usuarios/administradores/home');});
Route::get('/administrador/eventos/novo', function(){ return view('/usuarios/administradores/home');});

//Administradores-Autores
Route::get('/administrador/autores/listar', function(){ return view('/usuarios/administradores/listar_autores');});
Route::get('/administrador/autores/trabalhos/relacoes', function(){ return view('/usuarios/administradores/listar_relacao_trabalhos');});
Route::get('/administrador/autores/trabalhos/aprovados', function(){ return view('/usuarios/administradores/listar_trabalhos_aprovados');});
Route::get('/administrador/autores/trabalhos/pendentes', function(){ return view('/usuarios/administradores/listar_trabalhos_pendentes');});
Route::get('/administrador/autores/trabalhos/reprovados', function(){ return view('/usuarios/administradores/listar_trabalhos_reprovados');});

//Administradores-Avaliadores
Route::get('/administrador/avaliadores/cadastrar', function(){ return view('/usuarios/administradores/cadastrar_avaliador');});
Route::get('/administrador/avaliadores/listar', function(){ return view('/usuarios/administradores/listar_avaliadores');});
Route::get('/administrador/avaliadores/atribuir', function(){ return view('/usuarios/administradores/atribuir_avaliadores');});
Route::get('/administrador/avaliadores/progresso', function(){ return view('/usuarios/administradores/progresso_avaliacoes');});
Route::get('/administrador/cadastros_basicos/areas_categorias', function(){ return view('/usuarios/administradores/cadastrar_area_categoria');});
;
Route::get('/administrador/cadastros_basicos/criterios', function(){ return view('/usuarios/administradores/cadastrar_criterios_avaliacao');});
;  


//Avaliadores
Route::get('/avaliador/home', function(){ return view('/usuarios/avaliadores/home');});
Route::get('/avaliador/instrucoes', function(){ return view('/usuarios/avaliadores/instrucoes');});
Route::get('/avaliador/artigos', function(){ return view('/usuarios/avaliadores/avaliacoes');});
Route::get('/avaliador/regras', function(){ return view('/usuarios/avaliadores/regras');});
Route::get('/avaliador/regras/download', function(){ return view('/usuarios/avaliadores/regras');});

//Autores
Route::get('/autor/home', function(){ return view('/usuarios/autores/home');});
Route::get('/autor/trabalhos/regras', function(){ return view('/usuarios/autores/regras');});
Route::get('/autor/trabalhos/direitos_autorais', function(){ return view('/usuarios/autores/direitos_autorais');});
Route::get('/autor/trabalhos/novo', function(){ return view('/usuarios/autores/novotrabalho');});
Route::get('/autor/trabalhos/meus_trabalhos', function(){ return view('/usuarios/autores/meus_trabalhos');});

